
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;

}

html,body{
  height: 100%;
  width: 100%;
  background-color: #000;
}
.card{
  background-color: #38875a;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar{
  background-color: #23971f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  
}