*{
    margin: 0;
    padding: 0;
    
}

h1{
    background-color: antiquewhite;
    margin: 30px;
    padding: 4px;
    border-radius: 5px;
    width: 55px;
}
button{
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: aquamarine;
}